.c-fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.c-fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.c-slogan {
  color: #fff;
  font-size: 6rem;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
}

.c-btn-enter {
  font-size: 2.25rem;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 75%;
  transform: translate(-75%, -50%);
}

@media (max-width: 992px) {
  .c-fullscreen-bg {
    background: url("../../assets/images/bg-register02.jpg") center center / cover no-repeat;
  }

  .c-fullscreen-bg__video {
    display: none;
  }

  .c-slogan {
    font-size: 3.75rem;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
  }

  .c-btn-enter {
    font-size: 1.75rem;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
  }
}
